.app-container {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.top-container {
  width: 100%;
  padding: 10px;
  background-color: #3367d6;
  display: flex;
}

.app-logo {
  margin-right: 300px;
  height: 30px;
}
.search-container {
  padding: 5px;
  background-color: #2850a7;
  border-style: solid;
  border-width: 1px;
  border-color: #64748b;
  outline: none;
}

.input-container {
  padding: 5px;
  background-color: #2850a7;
  border-style: solid;
  border-width: 1px;
  border-color: #64748b;
  outline: none;
  width: 30%;
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0px 4px 16px #bfbfbf;
}
